{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}


{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input name="symbol" class="form-control mx-auto w-auto" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input name="shares" class="form-control mx-auto w-auto" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
